<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="fr.cls.atoll.motu.web.common.log.log4j">
	<!-- ######################################################################################################################## -->
	<!-- ### OVERVIEW LOG4J ### -->
	<!-- ######################################################################################################################## -->
	<!-- [LEVEL] LOGGER APPENDERS ### -->
	<!-- ######################################################################################################################## -->
	<!-- [ERROR] root logbook.log[INFO] warning.log[WARN] errors.log[ERROR] -->
	<!-- [INFO] fr.cls.atoll.motu // // // -->
	<!-- ######################################################################################################################## -->

	<!-- ######################################################################################################################## -->
	<!-- ######################################################################################################################## -->
	<Properties>
		<!-- This property is read from Java option -dmotu-log-dir=$absoluteDirPath
			 And here is the property if not found
		 -->
		<Property name="motu-log-dir">/opt/cmems-cis/motu/log</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
		</Console>

		<!-- ############################################################ -->
		<!-- ### logbook.log, warning.log, errors.log ################### -->
		<!-- ############################################################ -->
		<RollingFile name="log-file-logbook" fileName="${sys:motu-log-dir}/logbook.log"
			filePattern="${sys:motu-log-dir}/logbook.log.%d{dd-MM-yyyy}"
			append="true">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p %c.%M %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>

		<RollingFile name="log-file-warning" fileName="${sys:motu-log-dir}/warnings.log"
			filePattern="${sys:motu-log-dir}/warnings.log.%d{dd-MM-yyyy}"
			append="true">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p %c.%M %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>

		</RollingFile>

		<RollingFile name="log-file-errors" fileName="${sys:motu-log-dir}/errors.log"
			filePattern="${sys:motu-log-dir}/errors.log.%d{dd-MM-yyyy}"
			append="true">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5p %c.%M %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<!-- ############################################################ -->
		<!-- ### Queue ##### -->
		<!-- ############################################################ -->
		<RollingFile name="log-file-infos.queue" fileName="${sys:motu-log-dir}/queue.log"
			filePattern="${sys:motu-log-dir}/queue.log.%d{dd-MM-yyyy}"
			append="true">
			<MotuCustomLayout />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<logger
			name="fr.cls.atoll.motu.web.bll.request.queueserver.queue.QueueLogInfo"
			additivity="false" level="INFO">
			<AppenderRef ref="log-file-infos.queue" level="INFO"/>
		</logger>

		<logger name="fr.cls.atoll.motu" level="INFO" >
			<AppenderRef ref="log-file-logbook" level="INFO" />
			<AppenderRef ref="log-file-warning" level="WARN" />
			<AppenderRef ref="log-file-errors" level="ERROR" />
		</logger>
		<Root level="ERROR">
		</Root>
	</Loggers>

</Configuration>