<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
		<param name="Target" value="System.Out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd/MM/yyyy-HH:mm:ss}; [%t] %-5p @%M %m%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="XMLFileInfo">
		<param name="file" value="/opt/atoll/log/atoll-motu/atoll-qt1_motu_queue_log.xml" />
		<!--
			<param name="encoding" value="UTF-8" />
		-->
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM" />
		<layout class="fr.cls.atoll.motu.library.misc.log4j.MotuXMLLayout"></layout>
		
		<!--
		<layout class="fr.cls.atoll.motu.web.servlet.TestLogXML"></layout>
			<layout class="org.apache.log4j.xml.XMLLayout"/>
		-->
	</appender>

<!-- Syslog appender -->
    <appender name="log.syslog.all" class="org.apache.log4j.net.SyslogAppender">
        <param name="SyslogHost" value="10.1.20.44" />
        <param name="Threshold" value="INFO" />
        <param name="Facility" value="USER" />
        <param name="Header" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{MMM dd HH:mm:ss} atoll-v2 [atoll-motu] %m\n" />
        </layout>
	</appender>

	<!--
		<logger name="fr.cls.atoll.motu">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		</logger>
		-->		
		<logger name="fr.cls.atoll.motu.processor">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		</logger>
		<logger name="org.deegree">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		</logger>
		<!-- 
		<logger name="org.apache.commons.vfs">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		</logger>
		<logger name="fr.cls.atoll.motu.library.VFSManager">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
		</logger>
		 -->
	<logger name="atoll.motu.queueserver">
		<level value="INFO" />
		<appender-ref ref="XMLFileInfo" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="log.syslog.all" />
		
	<!-- 
 -->
 	</root>
</log4j:configuration>
