##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ cls_fr_printSubTitleCatalog --------------------------------
#macro(cls_fr_printSubTitleCatalog)
	Catalogue
#end

## ------------------------------ cls_fr_printSubTitleProductMetadata --------------------------------
#macro(cls_fr_printSubTitleProductMetadata)
	<a href="?action=listcatalog&service=${service.getNameEncoded()}">Catalogue</a>
	<img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
	Métadonnées

#end

## ------------------------------ cls_fr_printSubTitleProductDownloadHome --------------------------------
#macro(cls_fr_printSubTitleProductDownloadHome)
	<a href="?action=listcatalog&service=${service.getNameEncoded()}">Catalogue</a>
	<img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
	<a href="?action=listproductmetadata&service=${service.getNameEncoded()}&product=${product.getProductMetaData().getProductId()}">Métadonnées</a>
	<img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
	Téléchargement
#end

## -------------------------------------------- cls_fr_printSubTitle --------------------------------
#macro(cls_fr_printSubTitle)
	#*
	<table width="95%" border="0" cellspacing="0"><tr>
	<td class="parents">		
	*#
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#cls_fr_printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#cls_fr_printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#cls_fr_printSubTitleProductDownloadHome()	
	#end
	#*	
	</td>
	</tr></table>
	*#
#end

## -------------------------------------------- main --------------------------------

#set($templateCatalog = "velocityTemplates/catalog_fr.vm")
#set($templateProductMetadata = "velocityTemplates/product_metadata_fr.vm")
#set($templateProductDownloadHome = "velocityTemplates/product_downloadhome_fr.vm")
#set($httpSite = ${service.getHttpBaseRef()})

<!-- variables pour menu Motu -->
#set($titleMenuMotu = "Service de téléchargement et d'extraction")
#set($labelMenuMotu = "Serveur Opendap")
#set($hrefMenuMotu = "?action=listcatalog&service=Cls&lang=fr")

<html>

<head>
	<title>CLS : Oc&eacute;anograhie Spatiale - $titleMenuMotu </title>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href=href="$httpSite/tools/style.css">
	<meta name="Description" lang="fr" content="CLS">
	<script src="$httpSite/tools/cls.js"></script>
</head>

<style>
##	table.encadre	{border-bottom: 1px solid #8A8AD2;border-top: 1px solid #8A8AD2;}	
	table.encadre
	{
	    BORDER-RIGHT: #8A8AD2 2px solid;
	    BORDER-TOP: #8A8AD2 2px solid;
	    BORDER-LEFT: #8A8AD2 2px solid;
	    BORDER-BOTTOM: #8A8AD2 2px solid;
	    BORDER-COLLAPSE: collapse
	}
	table.encadre TD
	{
	    BORDER-RIGHT: #8A8AD2 1px solid;
	    BORDER-TOP: #8A8AD2 1px solid;
	    BORDER-LEFT: #8A8AD2 1px solid;
	    BORDER-BOTTOM: #8A8AD2 1px solid;
	    BORDER-COLLAPSE: collapse;
	    BACKGROUND-COLOR: #f8f8ff
	}
	table.encadre TH
	{
	    BORDER-RIGHT: #8A8AD2 1px solid;
	    BORDER-TOP: #8A8AD2 1px solid;
	    BORDER-LEFT: #8A8AD2 1px solid;
	    BORDER-BOTTOM: #8A8AD2 1px solid;
	    BORDER-COLLAPSE: collapse;
	    BACKGROUND-COLOR: #F8F8E7;
	    TEXT-ALIGN: center
	}	
	table.toc
	{
	    background-color:#DDECF8;
	}
	table.toc TD
	{
		font-size: 9pt;
		font-family: Arial, Helvetica, sans-serif;
	}
	table.toc TH
	{
		font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background-color: #99CCFF;
		color: #000000;
		font-size: 10pt; padding: 2px;
		border: #FFF1B3
		font-weight: bold
	}
	img.suiv2
	{
		width:18;
		height:14;
		alt="";
		border=0;
	}
	
</style>

<body onLoad="init()" background="$httpSite/images/pictos/fond.gif" bgcolor="#ffffff" text="#333333" link="#ff9933" vlink="#ff9933" alink="#ff9933" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<script language="JavaScript" type="text/javascript">
	
</script>


<!-- Banniere -->
<!-- STATUS: OK --><a name="top"></a><map
 name="retour">
<area shape="rect" coords="30,30,80,100"
 href="http://www.cls.fr/welcome_fr.html"
 onmouseover="window.status='SOMMAIRE'; return true"
 onmouseout="window.status=''; return true">
</map>
<table WIDTH="90%" border="0"
 cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td rowspan="2" colspan="2"><img
 src="http://www.cls.fr/images/pictos/top1.gif" usemap="#retour"
 border="0" height="95" hspace="0" vspace="0"></td>
      <td><img alt="vague"
 src="http://www.cls.fr/images/pictos/top2.gif" border="0"
 height="47" hspace="0" width="322"></td>
    </tr>
    <tr>
      <td valign="top">
      <h2>OCEANOGRAPHIE SPATIALE</h2>
      </td>
    </tr>
    <tr>
    	<td colspan="2">
		</td>
		<td>
			<!-- Motu subtitles -->
			#cls_fr_printSubTitle()
		</td>
    </tr>
    
    <tr valign="top">
      <td rowspan="2"><br>
      <img alt="ERS-2"
 src="http://www.cls.fr/images/oceano/general/sat1_ers2.gif"
 border="0" height="130" width="190"><br>
      <img alt="TOPEX/POSEIDON"
 src="http://www.cls.fr/images/oceano/general/sat2_tp.gif"
 border="0" height="96" width="178"><br>
      <img alt="ERS-1"
 src="http://www.cls.fr/images/oceano/general/sat3_ers1.gif"
 border="0" height="125" width="178"><br>
      <img alt="Geosat"
 src="http://www.cls.fr/images/oceano/general/sat4_geosat.gif"
 border="0" height="105" width="148"></td>
      <td colspan="2">
<!-- Corps du document -->	
	<a name="debut"></a>

	#set($tocLowLevel = 1)
	#set($tocHighLevel = 1)
	#set($printcatalogtoc = false)
	#parse ($body_template)

      </td>
    </tr>
  </tbody>
</table>




</body>
</html>



