##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ mercator_fr_printSubTitleCatalog --------------------------------
#macro(mercator_fr_printSubTitleCatalog)
			&gt; Catalogue
#end

## ------------------------------ mercator_fr_printSubTitleProductMetadata --------------------------------
#macro(mercator_fr_printSubTitleProductMetadata)
	&gt; <a href="?action=listcatalog&service=${service.getNameEncoded()}">Catalogue</a>
	&gt; $titleMetadata


#end

## ------------------------------ mercator_fr_printSubTitleProductDownloadHome --------------------------------
#macro(mercator_fr_printSubTitleProductDownloadHome)
	&gt; <a href="?action=listcatalog&service=${service.getNameEncoded()}">Catalogue</a>
    #if($downloadOnTop == false)
		&gt; <a href="?action=listproductmetadata&service=${service.getNameEncoded()}&product=${product.getProductMetaData().getProductIdEncoded()}">$titleMetadata</a>
	#end
	&gt; Téléchargement
#end

## -------------------------------------------- mercator_fr_printSubTitle --------------------------------
#macro(mercator_fr_printSubTitle)
	<table width="95%" border="0" cellspacing="0"><tr>
    <td>        
    
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#mercator_fr_printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#mercator_fr_printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#mercator_fr_printSubTitleProductDownloadHome()	
	#end

	</td>
	</tr></table>

#end

## -------------------------------------------- main --------------------------------

#set($templateCatalog = "velocityTemplates/catalog_fr.vm")
#set($templateProductMetadata = "velocityTemplates/product_metadata_fr.vm")
#set($templateProductDownloadHome = "velocityTemplates/product_downloadhome_fr.vm")
#set($httpSite = ${service.getHttpBaseRef()})

#set($titleMetadata = "Métadonnées")

#set($downloadOnTop = ${service.isDownloadOnTop()})
#set($showOpendapLinks = true)

<!-- variables pour menu Motu -->
#set($titleMenuMotu = "Service de téléchargement et d'extraction")
#set($labelMenuMotu = "Serveur Opendap")
#set($hrefMenuMotu = "?action=listcatalog&service=Mercator&lang=fr")

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR" lang="fr-FR">

<head>

    <title>Mercator Océan, prévision océanique opérationnelle - Bulletins</title>

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <meta name="description" content="previsions en temps reel de l'ocean jusqu'a 14 jours, oceanographie operationnelle">

    <meta name="keywords" content="oceanographie operationelle, produits operationnels, description de l'ocean">





    <meta http-equiv="expires" content="0">

    <meta http-equiv="pragma" content="no-cache">





    <link rel="stylesheet" type="text/css" href="$httpSite/tools/template/v4/css/ezmercator.css">
    <link rel="stylesheet" type="text/css" href="$httpSite/tools/template/v4/css/ezmercator_border.css">
    <link rel="stylesheet" type="text/css" href="$httpSite/tools/template/v4/css/bulletin.css">
    <link rel="stylesheet" type="text/css" href="$httpSite/tools/template/v4/css/ezmercator_core.css">
    <link rel="stylesheet" type="text/css" href="$httpSite/tools/template/v4/css/ezmercator_menu.css">


</head>

<style>
##	table.encadre	{border-bottom: 1px solid #8A8AD2;border-top: 1px solid #8A8AD2;}	
	table.encadre
	{
	    BORDER-RIGHT: #8A8AD2 2px solid;
	    BORDER-TOP: #8A8AD2 2px solid;
	    BORDER-LEFT: #8A8AD2 2px solid;
	    BORDER-BOTTOM: #8A8AD2 2px solid;
	    BORDER-COLLAPSE: collapse
	}
	table.encadre TD
	{
	    BORDER-RIGHT: #8A8AD2 1px solid;
	    BORDER-TOP: #8A8AD2 1px solid;
	    BORDER-LEFT: #8A8AD2 1px solid;
	    BORDER-BOTTOM: #8A8AD2 1px solid;
	    BORDER-COLLAPSE: collapse;
	    BACKGROUND-COLOR: #f8f8ff
	}
	table.encadre TH
	{
	    BORDER-RIGHT: #8A8AD2 1px solid;
	    BORDER-TOP: #8A8AD2 1px solid;
	    BORDER-LEFT: #8A8AD2 1px solid;
	    BORDER-BOTTOM: #8A8AD2 1px solid;
	    BORDER-COLLAPSE: collapse;
	    BACKGROUND-COLOR: #F8F8E7;
	    TEXT-ALIGN: center
	}	
	table.toc
	{
	    background-color:#DDECF8;
	}
	table.toc TD
	{
		font-size: 9pt;
		font-family: Arial, Helvetica, sans-serif;
	}
	table.toc TH
	{
		font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background-color: #99CCFF;
		color: #000000;
		font-size: 10pt; padding: 2px;
		border: #FFF1B3
		font-weight: bold
	}
	img.suiv2
	{
		width:18;
		height:14;
		alt="";
		border=0;
	}
##    h1 {
##        display: block;
##        font-size: 2em;
##        -webkit-margin-before: 0.67em;
##        -webkit-margin-after: 0.67em;
##        -webkit-margin-start: 0px;
##        -webkit-margin-end: 0px;
##        font-weight: bold;
##    }
##    
##    h2 {
##        display: block;
##        font-size: 1.5em;
##        -webkit-margin-before: 0.83em;
##        -webkit-margin-after: 0.83em;
##        -webkit-margin-start: 0px;
##        -webkit-margin-end: 0px;
##        font-weight: bold;
##    }   

 	
</style>

<body id="fre-FR" onLoad="init()" onUnload="unload()">


<script language="JavaScript" type="text/javascript">

#parse ("velocityTemplates/mercator/motu-mercator.js")
	
</script>

<!-- EN-TETE -->
	#parse("velocityTemplates/mercator/top_produits_fr.html")

<!-- MENU -->
###	#parse("velocityTemplates/mercator/menu_produits_fr.html")
	
<!-- LANGUAGE FORM -->
    #parse("velocityTemplates/mercator/changeLanguageForm.vm")
        
##    <ul>
##        #mercator_fr_printSubTitle()
##    </ul>

    <a href="javascript:history.back()">Retour</a>
    
<!-- Corps du document -->	
	<a name="debut"></a>
	
	#set($tocLowLevel = 1)
	#set($tocHighLevel = 1)
	#set($tocAsRow = true)
	#set($printcatalogtoc = true)

	#parse ($body_template)


<!-- PIED DE PAGE -->
	#parse("velocityTemplates/mercator/bottom_fr.html")

</body>
</html>
