##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ myocean_uk_printSubTitleCatalog --------------------------------
#macro(myocean_uk_printSubTitleListInventories)
<li>
    <a>Access Services</a>	
</li>

#end
## ------------------------------ myocean_uk_printSubTitleProductMetadata --------------------------------
#macro(myocean_uk_printSubTitleCatalog)
<li>
	<a href="?action=listservices">Access Services</a>
</li>
<li>
    <a>&gt;&nbsp;Data Product Catalogue</a>	
</li>

#end

## ------------------------------ myocean_uk_printSubTitleProductMetadata --------------------------------
#macro(myocean_uk_printSubTitleProductMetadata)
<li>
	<a href="?action=listservices" class="mainlevel">Access Services</a>
</li>
<li>
	<a href="?action=listcatalog&service=${service.getNameEncoded()}">&gt;&nbsp;Data Product Catalogue</a>
</li>
<li>
    <a>&gt;&nbsp;${titleMetadata}</a>
</li>

#end

## ------------------------------ myocean_uk_printSubTitleProductDownloadHome --------------------------------
#macro(myocean_uk_printSubTitleProductDownloadHome)
<li><a href="?action=listservices">Access Services</a></li>
<li><a href="?action=listcatalog&service=${service.getNameEncoded()}">&gt;&nbsp;Data Product Catalogue</a></li>

#if($downloadOnTop == false)
	<li><a href="?action=listproductmetadata&service=${service.getNameEncoded()}&product=${product.getProductMetaData().getProductIdEncoded()}">&gt;&nbsp;${titleMetadata}</a></li>
#end

<li><a>&gt;&nbsp;Download</a></li>

#end

## -------------------------------------------- myocean_uk_printSubTitle --------------------------------
#macro(myocean_uk_printSubTitle)
	#if($body_template.equalsIgnoreCase($templateListInventories))
		#myocean_uk_printSubTitleListInventories()	
	#end
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#myocean_uk_printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#myocean_uk_printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#myocean_uk_printSubTitleProductDownloadHome()	
	#end
#end

## -------------------------------------------- main --------------------------------

#set($templateListInventories = "velocityTemplates/listServices_uk.vm")
#set($templateCatalog = "velocityTemplates/catalog_uk.vm")
#set($templateProductMetadata = "velocityTemplates/product_metadata_uk.vm")
#set($templateProductDownloadHome = "velocityTemplates/product_downloadhome_uk.vm")
#set($httpSite = ${service.getHttpBaseRef()})

#set($titleMetadata = "Dataset Metadata")

#set($downloadOnTop = ${service.isDownloadOnTop()})
#set($showOpendapLinks = false)

<!-- variables pour menu Motu -->
#set($titleMenuMotu = "Downloading and extraction service")
###set($labelMenuMotu = "Opendap Server")
###set($hrefMenuMotu = "?action=listcatalog&service=Mercator&lang=uk")

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Maritime Security, Oil Spill combat, Marine Resources management, Climate Change, Seasonal Forecast, Coastal Activities, Ice Survey, Water Quality, Pollution" />
  <meta name="title" content="MyOcean Gateway services" />
  <meta name="description" content="MyOcean is a project granted by the European Commission within the GMES Program. The areas of benefit are: Maritime Security, Oil Spill combat, Marine Resources management, Climate Change, Seasonal Forecast, Coastal Activities, Ice Survey and Water Quality and Pollution." />
  <meta name="generator" content="Motu (cls-motu.sourceforge.net)" />

  <title>MyOcean Service - MyOcean</title>
  
  <link rel="stylesheet" type="text/css" href="$httpSite/templates/myocean/css/screen/content.css" media="all" />
  <link rel="stylesheet" type="text/css" href="$httpSite/templates/myocean/css/screen/content_cc.css" media="all" />
  <link rel="stylesheet" type="text/css" href="$httpSite/templates/myocean/css/screen/mis-gw.css" media="all" />

  <!--[if lte IE 7]>
  <link href="$httpSite/templates/myocean/css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
  <![endif]-->	
  
######  <script type="text/javascript" src="$httpSite/templates/myocean/js/mootools.js"></script>
######  <script type="text/javascript" src="$httpSite/templates/myocean/js/mis-gw.js"></script>
</head>

<body onLoad="init()" onUnload="unload()">
	<a name="up" id="up"></a>
	
		<div class="page_margins">
			<div class="page">
				<div id="header">
					<div id="logo"><a href="http://www.myocean.eu/"><img src="http://www.myocean.eu/css/myocean/screen/images/logo_myocean.gif" width="165" height="157" border="0" alt="MyOcean" title="MyOcean homepage" /></a></div>
					<div id="headerText"><h1>Products and Services</h1></div>
					<div id="aboutus">
						<a href="http://www.myocean.eu/web/6-about-us.php">About us</a>

					</div>
					<div id="topnav">
						
						
						<table width="545" cellpadding="0" cellspacing="0" border="0" class="template" id="top_prod_services">
							<tr style="vertical-align:top;">
								<td class="safety">									
									<div class="ps_type"><h2>Marine<br />safety<br />&nbsp;</h2>
										<div><a href="http://www.myocean.eu/web/19-products-and-services.php?domain=safety">&raquo; Products and services</a></div>

									</div>
								</td>
								<td class="spacer"></td>
								<td class="resources">
									<div class="ps_type"><h2>Marine<br />resources<br />&nbsp;</h2>
										<div><a href="http://www.myocean.eu/web/19-products-and-services.php?domain=resources">&raquo; Products and services</a></div>
									</div>

								</td>
								<td class="spacer"></td>
								<td class="environment">
									<div class="ps_type"><h2>Coastal &amp; marine<br />environment<br />&nbsp;</h2>
										<div><a href="http://www.myocean.eu/web/19-products-and-services.php?domain=environment">&raquo; Products and services</a></div>
									</div>

								</td>
								<td class="spacer"></td>
								<td class="forecast">
									<div class="ps_type"><h2>Weather, climate<br />&amp; seasonal<br />forecasting</h2>
										<div><a href="http://www.myocean.eu/web/19-products-and-services.php?domain=forecast">&raquo; Products and services</a></div>
									</div>

								</td>
							</tr>
						</table>							
						
					</div>
					<div id="topright_back"></div>
					<div id="topright">
						
						&nbsp;<br />
						<div id="memberAccess"><h1><a href="#">&raquo; Member access</a></h1></div>

						
					</div>
					<div id="contactus">
						<a href="http://www.myocean.eu/web/21-contact-us.php">Contact us</a>
					</div>
				</div>
			</div>
		</div>
	

	
<div class="page_margins">
		###	<div class="page">
				##<div id="main">
					
					<div id="col">
	
	##--------------------------------
	
	<div id="col3_content" class="clearfix">
		<div id="nav_main">
		   <div id="ps_nav">
			  <div class="hlist">
				<ul>
					#myocean_uk_printSubTitle()
				</ul>
			   </div>
			 </div>
	      </div>
			  
	      <!-- CONTENT START -->
	      <div id="content">
			
			
			
#set($tocLowLevel = 1)
#set($tocHighLevel = 1)
#set($tocAsRow = true)
#set($printcatalogtoc = false)

#parse ($body_template)
		  </div>	
		  </div>	
					</div>
<div id="footer">
					<div id="gmes_fp7"><div>
						<a title="More information: GMES / FP7" href="http://www.myocean.eu/web/20-gmes-fp7.php">» more</a>
						</div></div>
					<div id="footer_content"><div><a href="http://www.myocean.eu/web/12-site-map.php">Site map</a> | <a href="http://www.myocean.eu/web/13-all-rights-reserved.php">All rights reserved</a> | <a href="http://www.myocean.eu/web/14-faq.php">FAQ</a></div></div>
				</div>
### main                </div>
### page            </div>
</div>

</body>

</html>
