##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ mercator_uk_printSubTitleCatalog --------------------------------
#macro(mercator_fr_printSubTitleCatalog)
	Catalogue
#end

## ------------------------------ mercator_fr_printSubTitleProductMetadata --------------------------------
#macro(mercator_fr_printSubTitleProductMetadata)
	<a href="?action=listcatalog&service=${service.getName()}">Catalogue</a>
	<img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
	Métadonnées

#*
	#if ($product.isProductDownloadable()) 
		<a href="?action=listcatalog&service=${service.getName()}">Catalogue</a>
		| Métadonnées
		| <a href="?action=productdownloadhome&service=${service.getName()}&product=${product.getProductMetaData().getProductId()}">Téléchargement</a>
	#else
		<a href="?action=listcatalog&service=${service.getName()}">Catalogue</a>
		| Métadonnées
	#end
*#

#end

## ------------------------------ mercator_fr_printSubTitleProductDownloadHome --------------------------------
#macro(mercator_fr_printSubTitleProductDownloadHome)
	<a href="?action=listcatalog&service=${service.getName()}">Catalogue</a>
	<img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
	<a href="?action=listproductmetadata&service=${service.getName()}&product=${product.getProductMetaData().getProductId()}">Métadonnées</a>
	<img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
	Téléchargement
#end

## -------------------------------------------- mercator_fr_printSubTitle --------------------------------
#macro(mercator_fr_printSubTitle)
	#*
	<table width="95%" border="0" cellspacing="0"><tr>
	<td class="parents">		
	*#
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#mercator_fr_printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#mercator_fr_printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#mercator_fr_printSubTitleProductDownloadHome()	
	#end
	#*	
	</td>
	</tr></table>
	*#
#end

## -------------------------------------------- main --------------------------------

#set($templateCatalog = "velocityTemplates/catalog_fr.vm")
#set($templateProductMetadata = "velocityTemplates/product_metadata_fr.vm")
#set($templateProductDownloadHome = "velocityTemplates/product_downloadhome_fr.vm")
#set($httpSite = ${service.getHttpBaseRef()})

<!-- variables pour menu Motu -->
#set($titleMenuMotu = "Service de téléchargement et d'extraction")
#set($labelMenuMotu = "Serveur Opendap")
#set($hrefMenuMotu = "?action=listcatalog&service=Mercator&lang=fr")

<html>

<head>
	<title>Mercator Océan, prévision océanique opérationnelle - $titleMenuMotu </title>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="$httpSite/charte/styles/mercator2.css">
    <meta name="Description" content="Mercator offre une gamme riche de produits à vocation grand public sous forme d'images sur le Web, mais aussi sous forme de fichiers numériques, à destination d'utilisateurs professionnels concernés directement par la prévision de l'état de l'océan.">
	<meta name="Keywords" content="produits">
	<script src="$httpSite/charte/scripts/util.js"></script>
</head>

<style>
##	table.encadre	{border-bottom: 1px solid #8A8AD2;border-top: 1px solid #8A8AD2;}	
	table.encadre
	{
	    BORDER-RIGHT: #8A8AD2 2px solid;
	    BORDER-TOP: #8A8AD2 2px solid;
	    BORDER-LEFT: #8A8AD2 2px solid;
	    BORDER-BOTTOM: #8A8AD2 2px solid;
	    BORDER-COLLAPSE: collapse
	}
	table.encadre TD
	{
	    BORDER-RIGHT: #8A8AD2 1px solid;
	    BORDER-TOP: #8A8AD2 1px solid;
	    BORDER-LEFT: #8A8AD2 1px solid;
	    BORDER-BOTTOM: #8A8AD2 1px solid;
	    BORDER-COLLAPSE: collapse;
	    BACKGROUND-COLOR: #f8f8ff
	}
	table.encadre TH
	{
	    BORDER-RIGHT: #8A8AD2 1px solid;
	    BORDER-TOP: #8A8AD2 1px solid;
	    BORDER-LEFT: #8A8AD2 1px solid;
	    BORDER-BOTTOM: #8A8AD2 1px solid;
	    BORDER-COLLAPSE: collapse;
	    BACKGROUND-COLOR: #F8F8E7;
	    TEXT-ALIGN: center
	}	
	table.toc
	{
	    background-color:#DDECF8;
	}
	table.toc TD
	{
		font-size: 9pt;
		font-family: Arial, Helvetica, sans-serif;
	}
	table.toc TH
	{
		font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background-color: #99CCFF;
		color: #000000;
		font-size: 10pt; padding: 2px;
		border: #FFF1B3
		font-weight: bold
	}
	img.suiv2
	{
		width:18;
		height:14;
		alt="";
		border=0;
	}
	
</style>

<body onLoad="init()" bgcolor="White" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<script language="JavaScript" type="text/javascript">

#parse ("velocityTemplates/mercator/motu-mercator.js")
	
</script>

<!-- EN-TETE -->
	#parse("velocityTemplates/mercator/top_produits_fr.html")

<!-- MENU -->
	#parse("velocityTemplates/mercator/menu_produits_fr.html")

<!-- LANGUAGE FORM -->
	#parse("velocityTemplates/mercator/changeLanguageForm.vm")

<!-- DEBUT PAGE --->
<!-- REPERAGE NAVIGATION --->
<table width="100%" cellspacing="0" cellpadding="3" border="0" class="navigation">
<tr><td colspan="2"><img src="$httpSite/charte/images/espaceur.gif" width=1 height=1 border=0></td></tr>
<tr valign="top">
        <td>
                <nobr><a href="$httpSite/html/produits/description/welcome_fr.html">Produits</a><img src="$httpSite/charte/images/parent.gif" width="10" height="13" border="0" align="absmiddle" hspace="4"></nobr>
			<!-- subtitles -->			
			#mercator_fr_printSubTitle()
        </td>
        <td align="right">
                <a href="$httpSite/html/produits/description/acces_fr.html">Conditions d'accès |</a>
                <a href="$httpSite/html/produits/description/guide_tdm_fr.html">Guides |</a>
           		<a href="http://bulletin.mercator-ocean.fr">Bulletins en images |</a>
                <a href="$httpSite/html/produits/buoc/index_fr.html" >Bulletins commentés |</a><br>
                <a href="http://las.mercator-ocean.fr"  target="_blank" title="Produits numériques (accès autorisé)" alt="Cartes et Produits numériques(accès autorisé)">Live Access Server <img src="$httpSite/charte/images/restreint2b.gif" width=12 height=10 border=0 title="accès restreint">|</a>
				<!-- Liens vers Motu -->
				<a href="$hrefMenuMotu" target="_blank" title="$titleMenuMotu" alt="$titleMenuMotu">$labelMenuMotu <img src="$httpSite/charte/images/restreint2b.gif" width=12 height=10 border=0 title="accès restreint"></a>			
                ##<a href="http://opendap.mercator-ocean.fr/thredds/dodsC/"  target="_blank" title="Produits numériques (accès autorisé)" alt="Produits numériques (accès autorisé)">Serveur Opendap <img src="$httpSite/charte/images/restreint2b.gif" width=12 height=10 border=0 title="accès restreint">|</a>
                <!--
				<a href="http://opendap.mercator-ocean.fr/data" target="_blank" title="Serveur http (accès autorisé)" alt="Serveur http (accès autorisé)">Serveur HTTP <img src="$httpSite/charte/images/restreint2b.gif" width=12 height=10 border=0 title="accès restreint"></a></a>
				-->
				<a href="http://mercator.cnes.fr:8300/mercator.html" target="_blank" title="Produits numériques (accès autorisé)" alt="Produits numériques (accès autorisé)">Serveur Maps <img src="$httpSite/charte/images/restreint2b.gif" width=12 height=10 border=0 title="accès restreint"></a>
        </td>
</tr>
<tr><td colspan="2"><img src="$httpSite/charte/images/espaceur.gif" width=1 height=1 border=0></td></tr>
</table>


<!-- Corps du document -->	
	<a name="debut"></a>
	
	#set($tocLowLevel = 1)
	#set($tocHighLevel = 1)
	#set($tocAsRow = true)
	#set($printcatalogtoc = true)

	#parse ($body_template)


<!-- PIED DE PAGE -->
	#parse("velocityTemplates/mercator/bottom_fr.html")

</body>
</html>
