<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- Security -->
    <!-- 
		<security-constraint>
		<display-name>Tomcat security</display-name>
	-->
    <!-- Protected urls -->
    <!--
        <web-resource-collection> <web-resource-name>Protected resources</web-resource-name> <url-pattern>/Mercator/*</url-pattern>
        <http-method>GET</http-method> <http-method>POST</http-method> </web-resource-collection>
    -->
    <!-- users roles authorized -->
    <!-- 
		<auth-constraint>
		<role-name>motumercator</role-name>
		</auth-constraint>
		</security-constraint>
	-->
    <!-- Authentification mode -->
    <!--
        <login-config> <auth-method>BASIC</auth-method> <realm-name>Authentification pour les services Motu</realm-name> </login-config>
    -->
    <!-- Roles used  -->
    <!-- 
		<security-role>
		<description>Mercator Motu users</description>
		<role-name>motumercator</role-name>
		</security-role>	
	-->
    <!-- End security -->
    <display-name>Motu</display-name>
    <description>Motu</description>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>log4j.xml</param-value>
    </context-param>
    <filter>
        <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>casServerLoginUrl</param-name>
            <param-value>https://hostname/cas-server-webapp-3.3.5/login</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://hostname</param-value>
        </init-param>
        <init-param>
            <param-name>renew</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>gateway</param-name>
            <param-value>false</param-value>
        </init-param>
		<init-param>
			<param-name>encodeServiceUrl</param-name>
			<param-value>false</param-value>
		</init-param>		
    </filter>
    <listener>
        <description>Log4j initialization</description>
        <listener-class>fr.cls.atoll.motu.web.servlet.listener.Log4JConfigListener</listener-class>
    </listener>
    <filter>
        <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
            <param-name>casServerUrlPrefix</param-name>
            <param-value>https://hostname/cas-server-webapp-3.3.5</param-value>
        </init-param>
        <init-param>
            <param-name>serverName</param-name>
            <param-value>http://hostname</param-value>
        </init-param>
        <init-param>
            <param-name>proxyCallbackUrl</param-name>
            <param-value>https://hostname/atoll-motuservlet/proxyCallback</param-value>
        </init-param>
        <init-param>
            <param-name>proxyReceptorUrl</param-name>
            <param-value>/atoll-motuservlet/proxyCallback</param-value>
        </init-param>
        <init-param>
            <param-name>acceptAnyProxy</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>redirectAfterValidation</param-name>
            <param-value>true</param-value>
        </init-param>
		<init-param>
			<param-name>encodeServiceUrl</param-name>
			<param-value>false</param-value>
		</init-param>				
    </filter>
    <filter>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
    </filter>
	<filter>
		<filter-name>CAS Authorization Filter</filter-name>
		<filter-class>fr.cls.atoll.motu.web.servlet.filter.Cas20ProxyReceivingTicketAuthorizationFilter</filter-class>
    </filter>
	
	<!-- CAS FILTER MAPPING -->
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/proxyCallback</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>CAS Authorization Filter</filter-name>
		<url-pattern>/*</url-pattern>
    </filter-mapping> 
    <!-- END CAS FILTERS -->

    <!-- Mapping Servlet -->
    <servlet>
        <display-name>Motu</display-name>
        <servlet-name>Motu</servlet-name>
        <servlet-class>fr.cls.atoll.motu.web.servlet.MotuServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>fr.cls.atoll.motu.web.services.MotuOGCFrontController</servlet-class>
        <!--
			parameter 'ConfigurationFile' is optional (only needed when a
			non-default location is used for the 'services_metadata.xml' file)
		-->
        <!--
			init-param> <param-name>ConfigurationFile</param-name>
			<param-value>conf/services_metadata.xml</param-value> </init-param
		-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--
        <servlet> <servlet-name>testcas</servlet-name> <servlet-class>fr.cls.atoll.motu.cas.proxy.CasProxyServlet</servlet-class>
        <load-on-startup>1</load-on-startup> </servlet> <servlet-mapping> <servlet-name>testcas</servlet-name>
        <url-pattern>/proxyCallback</url-pattern> </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Motu</servlet-name>
        <url-pattern>/Aviso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Motu</servlet-name>
        <url-pattern>/Motu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Motu</servlet-name>
        <url-pattern>/Mercator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Motu</servlet-name>
        <url-pattern>/Catsat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Motu</servlet-name>
        <url-pattern>/OpendapAuth</url-pattern>
    </servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/misgw-motu-404.html</location>
	</error-page>	
	<error-page>
		<error-code>403</error-code>
		<location>/misgw-motu-403.html</location>
	</error-page>	

    <!-- End Mapping -->
</web-app>