##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ printSubTitleCatalog --------------------------------
#macro(printSubTitleListInventories)
<li>
    <a>Access Services</a>	
</li>

#end
## ------------------------------ printSubTitleProductMetadata --------------------------------
#macro(printSubTitleCatalog)
<li>
	<a href="?action=listservices">Access Services</a>
</li>
<li>
	<a href="">&gt;&nbsp;Data Product Catalogue</a>
</li>

#end

## ------------------------------ printSubTitleProductMetadata --------------------------------
#macro(printSubTitleProductMetadata)
<li>
	<a href="?action=listservices" class="mainlevel">Access Services</a>
</li>
<li>
	<a href="?action=listcatalog&service=${service.getNameEncoded()}">&gt;&nbsp;Data Product Catalogue</a>
</li>
<li>
    <a>&gt;&nbsp;${titleMetadata}</a>
</li>

#end

## ------------------------------ printSubTitleProductDownloadHome --------------------------------
#macro(printSubTitleProductDownloadHome)
<li><a href="?action=listservices">Access Services</a></li>
<li><a href="?action=listcatalog&service=${service.getNameEncoded()}">&gt;&nbsp;Data Product Catalogue</a></li>

#set($downloadOnTop = ${service.isDownloadOnTop()})

#if($downloadOnTop == false)
	<li><a href="?action=listproductmetadata&service=${service.getNameEncoded()}&product=${product.getProductMetaData().getProductIdEncoded()}">&gt;&nbsp;${titleMetadata}</a></li>
#end

<li><a>&gt;&nbsp;Download</a></li>

#end

## -------------------------------------------- printSubTitle --------------------------------
#macro(printSubTitle)
	#if($body_template.equalsIgnoreCase($templateListInventories))
		#printSubTitleListInventories()	
	#end
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#printSubTitleProductDownloadHome()	
	#end
#end

## -------------------------------------------- main --------------------------------

#set($templateListInventories = "velocityTemplates/listServices.vm")
#set($templateCatalog = "velocityTemplates/listCatalog.vm")
#set($templateProductMetadata = "velocityTemplates/listProductMetadata.vm")
#set($templateProductDownloadHome = "velocityTemplates/productDownloadHome.vm")
#set($httpSite = ${service.getHttpBaseRef()})

#set($titleMetadata = "Dataset Metadata")

#set($showOpendapLinks = false)

## variables pour menu Motu 
#set($titleMenuMotu = "Downloading and extraction service")
###set($labelMenuMotu = "Opendap Server")
###set($hrefMenuMotu = "?action=listcatalog&service=Mercator&lang=uk")

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
	<title>Motu</title>
	<link rel="icon" type="image/x-icon" href="$httpSite/css/motu/screen/images/favicon.ico" />
	<meta name="robots" content="noindex, nofollow" />
	<meta name="language" content="en" />
	<meta name="copyright" content="Motu" />
	<meta name="theme-color" content="#0e7ac2">
	
	<link rel="stylesheet" href="$httpSite/css/motu/motu.css" type="text/css" />
	<link rel="stylesheet" href="$httpSite/css/motu/screen/nav_services.css" type="text/css" />
	<!--[if lte IE 7]>
	<link href="$httpSite/css/motu/patches/patch_motu.css" rel="stylesheet" type="text/css" />
	<![endif]-->
    <link rel="stylesheet" type="text/css" href="$httpSite/css/motu/screen/content_cc.css" media="all" />
    <link rel="stylesheet" type="text/css" href="$httpSite/css/motu/screen/mis-gw.css" media="all" />
    <link href="$httpSite/css/jquery-ui/jquery-ui.css" rel="stylesheet"/>
</head>

<body>
<!-- Banniere -->
<!-- STATUS: OK --><a name="top"></a><map name="retour">
<area alt="" shape="rect" coords="30,30,80,100" href="http://www.cls.fr/welcome_fr.html" onmouseover="window.status='SOMMAIRE'; return true" onmouseout="window.status=''; return true">
</map>

		<!-- Body -->
	<div class="body_header">
		<div class="container">
			<!-- Header -->
			<header class="body_header" role="banner">
					<div class="row-fluid">
						<div id="logo-left" class="span3">
							<img src="$httpSite/css/motu/screen/images/logo-cls.png" alt="CLS" title="" />
						</div>
						<div id="logo-right" class="span9">
							<div class="header_top">
								<div class="header_socials">
									<a target='_blank' href='https://twitter.com/cls_group' rel='noopener'><i class='fa fa-twitter'></i></a><a target='_blank' href='https://www.linkedin.com/company/cls?trk=top_nav_home' rel='noopener'><i class='fa fa-linkedin'></i></a><a target='_blank' href='https://plus.google.com/+ClsFr/posts' rel='noopener'><i class='fa fa-google'></i></a><a target='_blank' href='https://www.youtube.com/user/CLSatellites' rel='noopener'><i class='fa fa-youtube'></i></a>
								</div>
								<div class="icon_text clearfix">
									<div class="icon"><i class="fa fa-map-marker"></i></div>
									<div class="text"><a href="http://datastore.cls.fr/catalogue">Online catalogue</a></div>
								</div>
								<div class="icon_text clearfix">
									<div class="icon"><i class="fa fa-clock-o"></i></div>
									<div class="text"><a href="mailto:servicedesk.cls.store@cls.fr">servicedesk.cls.store@cls.fr</a></div>
								</div>	
							</div>
						</div>
					</div>
					<div class="row-fluid">
						<div id="banner-img" class="span12">
						 <img src="$httpSite/css/motu/screen/images/banner_img.jpg" alt="" title="" />
						</div>
					</div>
			</header>
		</div>
	</div>
		<!-- begin: #home_top -->
	<div id="white_background_inner"></div>
		<div class="page_margins">
			<div class="page">
				<div id="main">
					<div id="col1">
						<!-- Top left content -->						
						<div id="topLeftMenuInner">							
							<div class="topLeftMenu" style="height:100px;"></div> 
						</div>
						<div id="col1_content" class="clearfix">
							<!-- Bottom left content -->
						</div>
					</div>
					<div id="col3">
						<div id="white_background_inner_page"></div>
						<div id="col3_content" class="clearfix">
							<!-- Page content -->						
							<div id="breadcrumb"></div>
							<div id="nav_main">
							    <div id="ps_nav">
									<div class="hlist">
										<ul>
										#printSubTitle()
										</ul>
									</div>
								</div>
					      	</div>

					        <!-- CONTENT START -->
	      					<div id="content">
			
			
			
#set($tocLowLevel = 1)
#set($tocHighLevel = 1)
#set($tocAsRow = true)
#set($printcatalogtoc = false)

#parse ($body_template)
		  					</div>	
		  					<div id="ie_clearing"> &nbsp; </div>
		  				</div>	
					</div>

### main        </div>
### page    </div>
		</div>

</body>

</html>
