##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------

## -------------------------------------------- printAssociateService --------------------------------
#macro(product_metadata_uk_printAssociateService)
	#set ($pageSiteWeb = ${productMetaData.getPageSiteWebURL()})
	#set ($LAS = ${productMetaData.getLASViewingServiceURL()})
	#set ($FTP = ${productMetaData.getFTPServiceURL()})
	#set ($bulletinSite = ${productMetaData.getBulletinSiteURL()})
	<h2>Associated services</h2>
##	<ul>
		#if ($product.isProductDownloadable()) 
			<li>
			<a href=?action=productdownloadhome&service=${service.getNameEncoded()}&product=${productMetaData.getProductIdEncoded()}>
			Downloading and extraction service
			</a>	
			</li>			
		#end

		<li>
		#if($catalogType != "DGF")
			<a href=?action=describeProduct&data=${product.getLocationData()}&xmlfile=${service.getCatalogLocation()}>
		#else
			<a href=?action=describeProduct&data=${product.getLocationMetaData()}>
		#end
		Dataset description
		</a>	
		</li>
		
		#if (!$product.isProductAlongTrack() && $showOpendapLinks && ($catalogType != "DGF")) 
			<li>
			Opendap direct access:&nbsp;&nbsp;&nbsp;
			<a href=${product.getLocationData()}.dds>dds</a>&nbsp;&nbsp;&nbsp;
			<a href=${product.getLocationData()}.das>das</a>&nbsp;&nbsp;&nbsp;
			<a href=${product.getLocationData()}.html>Data resquest form</a>				
			</li>
		#end
		#if($LAS != "")
			<li>
			<a href=${LAS}>LAS viewing service</a>
			</li>
		#end
		#if($bulletinSite != "")
			<li>
			<a href=${bulletinSite}>Bulletin site viewing service</a>
			</li>
		#end
		#if($FTP != "")
			<li>
			<a href=${FTP}>FTP download</a>
			</li>
		#end
		#if($pageSiteWeb != "")
			<li>
			<a href=${pageSiteWeb}>Product fact sheet</a>
			</li>			
		#end
		<p></p>	
##	</ul>
#end
## -------------------------------------------- printTemporalCoverage --------------------------------
#macro(product_metadata_uk_printTemporalCoverage)
	<p></p>
	
	#if($productMetaData.hasTimeAxis())
		<ul class="puce2">
			<li><b>${productMetaData.getTimeAxis().getName()} start:</b>&nbsp&nbsp;$productMetaData.getTimeAxisMinValueAsString()</li>
			<li><b>${productMetaData.getTimeAxis().getName()} end:</b>&nbsp&nbsp;$productMetaData.getTimeAxisMaxValueAsString()</li>
		</ul>
	#elseif($productMetaData.hasTimeCoverage())
		<ul class="puce2">
			<li><b>Time start:</b>&nbsp&nbsp;$productMetaData.getStartTimeCoverageAsUTCString()</li>
			<li><b>Time end:</b>&nbsp&nbsp;$productMetaData.getEndTimeCoverageAsUTCString()</li>
		</ul>
	#else
	<p>No temporal coverage.</p>
	#end
		
#end

## -------------------------------------------- printLastUpdate --------------------------------
#macro(product_metadata_uk_printLastUpdate)
	<p></p>
	<ul class="puce2">
		<li><b>Date:</b>&nbsp&nbsp;$productMetaData.getLastUpdate()</li>
	</ul>
#end

## -------------------------------------------- printGeoCoverageTH --------------------------------
#macro(product_metadata_uk_printGeoCoverageTH)
	#set($xLib = "")
	#set($yLib = "")
	#if ($product.hasGeoXAxisWithLonEquivalence())
		#set($xLib = "(x)")	
	#end
	#if ($product.hasGeoYAxisWithLatEquivalence())
		#set($yLib = "(y)")	
	#end
	<tr>
		<th></th>			
		#if($productMetaData.hasLatAxis())
			<th>${productMetaData.getLatAxis().getName()} $yLib</th>			
		#elseif($productMetaData.hasGeoYAxis())
			#if ($product.hasGeoYAxisWithLatEquivalence())
				<th>${productMetaData.getGeoYAxisAsLat(${product}).getName()} $yLib</th>			
            #else				
				<th>${productMetaData.getGeoYAxis().getName()}</th>			
			#end
		#elseif($productMetaData.hasGeoBBox())
				<th>Latitude</th>			
		#end
		
		#if($productMetaData.hasLonAxis())
			<th>${productMetaData.getLonAxis().getName()} $xLib</th>			
		#elseif($productMetaData.hasGeoXAxis())
			#if ($product.hasGeoXAxisWithLonEquivalence())
				<th>${productMetaData.getGeoXAxisAsLon(${product}).getName()} $xLib</th>			
            #else				
				<th>${productMetaData.getGeoXAxis().getName()}</th>			
			#end
		#elseif($productMetaData.hasGeoBBox())
				<th>Longitude</th>			
		#end
		#if($productMetaData.hasZAxis())
			<th>${productMetaData.getZAxis().getName()}</th>			
		#elseif($productMetaData.hasDepthBBox())
				<th>Z/Depth</th>			
		#end
	</tr>
		
#end
## -------------------------------------------- printGeoCoverageTD --------------------------------
#macro(product_metadata_uk_printGeoCoverageTD)
	<tr>
		<td><b>min. </b></td>		
		##if lat axis and geoY axis with lat equivalence, don't get lat min. value, it's to slow 
		## because in lat axis can have also time dimension.
		#if(($productMetaData.hasLatAxis()) && (!$product.hasGeoYAxisWithLatEquivalence()))
			<td class ="right">$productMetaData.getLatAxisMinValueAsString()</td>
		#end
		##if lon axis and geoX axis with lon equivalence, don't get lon min. value, it's to slow 
		## because in lon axis can have also time dimension.
		#if(($productMetaData.hasLonAxis()) && (!$product.hasGeoXAxisWithLonEquivalence()))
			<td class ="right">$productMetaData.getLonAxisMinValueAsString()</td>
		#end
		#if($productMetaData.hasGeoYAxis())
			#if ($product.hasGeoYAxisWithLatEquivalence())
				<td class ="right">$productMetaData.getGeoYAxisMinValueAsLatString(${product})</td>
            #else				
				<td class ="right">$productMetaData.getGeoYAxisMinValueAsString()</td>
			#end
		#elseif($productMetaData.hasGeoBBox() && !$productMetaData.hasLatAxis())
				<td class ="right">$productMetaData.getGeoBBoxLatMinAsString()</td>
		#end
		#if($productMetaData.hasGeoXAxis())
			#if ($product.hasGeoXAxisWithLonEquivalence())
				<td class ="right">$productMetaData.getGeoXAxisMinValueAsLonString(${product})</td>
            #else				
				<td class ="right">$productMetaData.getGeoXAxisMinValueAsString()</td>
			#end
		#elseif($productMetaData.hasGeoBBox() && !$productMetaData.hasLonAxis())
				<td class ="right">$productMetaData.getGeoBBoxLonMinAsString()</td>
		#end
				
		#if($productMetaData.hasZAxis())
			<td class ="right">$productMetaData.getZAxisMinValueAsString()</td>
		#elseif($productMetaData.hasDepthBBox())
			<td class ="right">$productMetaData.getDepthMinAsString()</td>
		#end
	</tr>
	<tr>
		<td><b>max. </b></td>		
		##if lat axis and geoY axis with lat equivalence, don't get lat max. value, it's to slow 
		## because in lat axis can have also time dimension.
		#if(($productMetaData.hasLatAxis()) && (!$product.hasGeoYAxisWithLatEquivalence()))
			<td class ="right">$productMetaData.getLatAxisMaxValueAsString()</td>
		#end
		##if lon axis and geoX axis with lon equivalence, don't get lon max. value, it's to slow 
		## because in lon axis can have also time dimension.
		#if(($productMetaData.hasLonAxis()) && (!$product.hasGeoXAxisWithLonEquivalence()))
			<td class ="right">$productMetaData.getLonAxisMaxValueAsString()</td>
		#end
		#if($productMetaData.hasGeoYAxis())
			#if ($product.hasGeoYAxisWithLatEquivalence())
				<td class ="right">$productMetaData.getGeoYAxisMaxValueAsLatString(${product})</td>
            #else				
				<td class ="right">$productMetaData.getGeoYAxisMaxValueAsString()</td>
			#end
		#elseif($productMetaData.hasGeoBBox()&& !$productMetaData.hasLatAxis())
				<td class ="right">$productMetaData.getGeoBBoxLatMaxAsString()</td>
		#end
		#if($productMetaData.hasGeoXAxis())
			#if ($product.hasGeoXAxisWithLonEquivalence())
				<td class ="right">$productMetaData.getGeoXAxisMaxValueAsLonString(${product})</td>
            #else				
				<td class ="right">$productMetaData.getGeoXAxisMaxValueAsString()</td>
			#end
		#elseif($productMetaData.hasGeoBBox() && !$productMetaData.hasLonAxis())
				<td class ="right">$productMetaData.getGeoBBoxLonMaxAsString()</td>
		#end
		#if($productMetaData.hasZAxis())
			<td class ="right">$productMetaData.getZAxisMaxValueAsString()</td>
		#elseif($productMetaData.hasDepthBBox())
			<td class ="right">$productMetaData.getDepthMaxAsString()</td>
		#end
	</tr>
		
#end
## -------------------------------------------- printGeoCoverage --------------------------------
#macro(product_metadata_uk_printGeoCoverage)
		#if (($productMetaData.isCoordinateAxesEmpty() == false) && ($productMetaData.hasGeographicalAxis() == false) && ($productMetaData.hasGeoBBox() == false))
			<p>No geographical coverage.</p>
		#else		
			<table class="encadre" width="60%" border="0" cellspacing="2" cellpadding="5">
			#product_metadata_uk_printGeoCoverageTH()
			#product_metadata_uk_printGeoCoverageTD()
			</table>
		#end
	<p></p>	
#end

## -------------------------------------------- printParameter --------------------------------
#macro(product_metadata_uk_printParameter)
	
	#set( $quickLook = ${productMetaData.getQuickLook(${parameterMetadata})})
	<li><strong>$parameterMetadata.getName()</strong></li>
	<table class="noborder" width="90%" cellspacing="2">
#*		
		<th style="text-align:left">Description</th>
		#if( $quickLook != "")
			<th>Quicklook</th>
		#end	
*#		
		<tr>
			<td valign="top">$parameterMetadata.getLabel() </td>
			<td style="text-align:center">				
			#if( $quickLook != "")
				<img src=${quickLook} alt="${parameterMetadata.getName()} quicklook" border="1" align="center">
			#end			
			</td>
		</tr>				
	</table>
		
	<table class="encadre" width="80%" border="0" cellspacing="2">
		<tr>
			<th>Standard name</th>
			<th>Unit</th>
			#if($catalogType != "DGF")
				<th>Dimensions</th>
			#end
		</tr>
		<tr>
			<td>
			#if($parameterMetadata.getStandardName().equals(""))
				-
			#else					
				$parameterMetadata.getStandardName()			
			#end
			</td>
			<td>
			$parameterMetadata.getUnit()
			#if(!$parameterMetadata.getUnitLong().equals(""))
				(${parameterMetadata.getUnitLong()})					
			#end
			</td>
			#if($catalogType != "DGF")				
			<td>
    		#if($parameterMetadata.hasDimensions())
    			$parameterMetadata.getDimensionsAsString()
    		#else
    			Scalar			
			#end
			</td>
			#end
		</tr>
	</table>
	<p>&nbsp;</p>
	
#end
## -------------------------------------------- main --------------------------------
#set($productMetaData = $product.getProductMetaData())
#set ($catalogType = $service.getCatalogType().toString().toUpperCase())

<h1>$productMetaData.getTitle()</h1>

#product_metadata_uk_printAssociateService()

<h2>General metadata</h2>

<h3>Geographical coverage</h3>
#product_metadata_uk_printGeoCoverage()

<h3>Temporal coverage</h3>
#product_metadata_uk_printTemporalCoverage()

<h3>Last dataset update</h3>
#product_metadata_uk_printLastUpdate()

<h2>Variables' metadata</h2>
#set ($listParameterMetadata = $productMetaData.getParameterMetaDatasFiltered() )
<ul>
#foreach( $parameterMetadata in $listParameterMetadata )	
	#product_metadata_uk_printParameter()
#end
</ul>		


