##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ aviso_uk_old_printOtherServices --------------------------------
#macro(aviso_uk_old_printOtherServices)
	#set($listServicesSize = ${service.getSameGroupServices().size()})
	#set($i = 0)
	#foreach( $s in ${service.getSameGroupServices()} )	
		#set($i = $i+1)
		#if(${service.getName().equalsIgnoreCase(${s.getName()})})
			${s.getDescription()}
		#elseif($body_template.equalsIgnoreCase($templateCatalog))			
			<a href="?action=listcatalog&service=${s.getName()}">${s.getDescription()}</a>
		#end
		#if (($i != $listServicesSize) && ($body_template.equalsIgnoreCase($templateCatalog)))
			|
		#end
	#end
#end
## ------------------------------ aviso_uk_old_printSubTitleCatalog --------------------------------
#macro(aviso_uk_old_printSubTitleCatalog)
	Inventory
#end

## ------------------------------ aviso_uk_old_printSubTitleProductMetadata --------------------------------
#macro(aviso_uk_old_printSubTitleProductMetadata)
	<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
	<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
	Metadata
#*	
	#if (!$product.isProductAlongTrack()) 
		<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
		<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
		Metadata		
		<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
		<a href="?action=productdownloadhome&service=${service.getName()}&product=${product.getProductMetaData().getProductIdEncoded()}">Download</a>
		<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
	#else
		<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
		<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
		Metadata
	#end
*#	
#end

## ------------------------------ aviso_uk_old_printSubTitleProductDownloadHome --------------------------------
#macro(aviso_uk_old_printSubTitleProductDownloadHome)
	<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
	<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
	<a href="?action=listproductmetadata&service=${service.getName()}&product=${product.getProductMetaData().getProductIdEncoded()}">Metadata</a>
	<img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
	Download
#end

## -------------------------------------------- aviso_uk_old_printSubTitle --------------------------------
#macro(aviso_uk_old_printSubTitle)
#*	<table width="95%" border="0" cellspacing="0"><tr>
	<td class="parents">	
*#		
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#aviso_uk_old_printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#aviso_uk_old_printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#aviso_uk_old_printSubTitleProductDownloadHome()	
	#end	
#*	
	</td>
	</tr></table>
*#	
#end

## -------------------------------------------- main --------------------------------

#set($templateCatalog = "velocityTemplates/catalog_uk.vm")
#set($templateProductMetadata = "velocityTemplates/product_metadata_uk.vm")
#set($templateProductDownloadHome = "velocityTemplates/product_downloadhome_uk.vm")

<html>
<head>
	<title> Aviso/Altimetry - Tools &amp; Services </title> 
	<style>
		img.suiv2
		{
		width:18;
		height:14;
		alt="";
		border=0;
		}
		H6
		{
	    font: bold 10pt "Arial", "Helvetica", sans-serif;
    	color: #000099
		}
	table.toc
	{
	    background-color:#DDECF8;
	}
	table.toc TD
	{
		font-size: 9pt;
		font-family: Arial, Helvetica, sans-serif;
	}
	table.toc TH
	{
		font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        background-color: #99CCFF;
		color: #000000;
		font-size: 10pt; padding: 2px;
		border: #FFF1B3
		font-weight: bold
	}
	</style> 
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=iso-8859-1">
<!--	<base href="http://www.aviso.oceanobs.com">
-->
	<meta name="Keywords" lang="en" content="altimetry, satellite, Topex/Poseidon, topex, poseidon, Topex, Poseidon, topex-poseidon, Topex-Poseidon, Topex/Poseidon, Poséïdon, Poséidon, Jason, Jason-1, observation, ocean, data">
	<meta name="Description" lang="en" content="">
	<link rel="stylesheet" type="text/css" href="http://www.aviso.oceanobs.com/tools/jason.css">
	<script src="http://www.aviso.oceanobs.com/tools/jason.js" type="text/javascript"></script>
	<script language="JavaScript">
	// Override this function if you want some actions after a page load
	function init() {}
	
	// Override this function if you want some action before submitting a form
	// Note that the onSubmit event isn't issued if form.submit() is called
	// programmatically. Sigh.
	function doSubmit() {}
	</script>
</head>
<BODY onLoad="init()" bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<a name="top"></a> 	

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="0">
<!-- haut-->
	<TR><TD><A HREF="http://www.aviso.oceanobs.com/html/mod_actu/public/welcome_uk.php3" TARGET="_top"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/accueil_haut.gif" WIDTH="116" HEIGHT="98" BORDER="0" ALT="Home Page" BORDER="0"></A></TD>
		<TD BACKGROUND="http://www.aviso.oceanobs.com/images/icones/banniere.gif" ALIGN="right" VALIGN="BOTTOM">
		<!-- parcours -->
			<a href="http://www.aviso.oceanobs.com/print/donnees/tools/welcome_uk.html" target="_blank"><img src="http://www.aviso.oceanobs.com/images/icones/imprimable_uk.gif"
 								alt="Print this page" width="85" height="18" border="0"></a>
			<MAP NAME="haut_page">
					<AREA SHAPE="RECT" COORDS="249, 0, 297, 36" HREF="javascript:ouvreCadre('http://search.jason.oceanobs.com/search_uk.html')">
					<AREA SHAPE="RECT" COORDS="192, 0, 243, 36" HREF="http://www.aviso.oceanobs.com/html/general/guide_uk.html">
					<AREA SHAPE="RECT" COORDS="130, 0, 187, 36" HREF="javascript:ouvreCadre('http://www.aviso.oceanobs.com/html/general/sitemap_uk.html')">
					<AREA SHAPE="RECT" COORDS="61, 0, 124, 36" HREF="javascript:ouvreCadre('http://www.aviso.oceanobs.com/html/general/glossaire/a_uk.html')">
					<AREA SHAPE="RECT" COORDS="0, 0, 57, 36" HREF="javascript:ouvreCadre('http://www.aviso.oceanobs.com/html/general/contacts_uk.html')"></MAP>
			<IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons_haut_uk.gif" WIDTH="298" HEIGHT="37" BORDER="0" USEMAP="#haut_page"></TD></TR>
	<TR VALIGN="top">
<!-- menu gauche -->
		<TD ALIGN="center" BGCOLOR="#000099">
				<P><IMG SRC="http://www.aviso.oceanobs.com/images/icones/fond.gif" WIDTH="116" HEIGHT="34" BORDER="0"><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/mod_actu/public/actu_welcome_uk.php3"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/actu_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="news" title="news"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/presentation/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/presentation_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="presentation" title="presentation"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/applications/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/appli_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="applications" title="applications"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/missions/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/missions_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="altimetric missions" title="altimetric missions"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/alti/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/alti_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="altimetry" title="altimetry"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/doris/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/doris_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="Doris" title="Doris"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/kiosque/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/kiosque_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="News Stand" title="News Stand"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/donnees/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/donnees_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="Data" title="Data"></A><BR>
				<A HREF="http://www.aviso.oceanobs.com/html/calval/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/calval_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="Calibration Validation" title="Calibration Validation"></A><BR>
<!-- 				<A HREF="http://www-aviso.cnes.fr/HTML/information/frames/general/produits_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/produits_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="AVISO products" title="AVISO products"></A><BR>
				<A HREF="http://www-aviso.cnes.fr/HTML/information/frames/general/clients_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/clients_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="Customer information" title="Customer information"></A><BR> -->
				<A HREF="http://www.aviso.oceanobs.com/html/faq/welcome_uk.html"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/boutons/faq_uk_off.gif" WIDTH="116" HEIGHT="34" BORDER="0" ALT="FAQ" title="FAQ"></A>
			</P><P>&nbsp;</P></TD>
<!-- Debut du bloc 'corps' -->
		<TD ROWSPAN="2" WIDTH="98%" >
			<DIV ID="corps">
			 
<!-- Entete & Titre -->
	<P><IMG SRC="http://www.aviso.oceanobs.com/images/icones/barre.gif" WIDTH="100%" HEIGHT="1"></P>
	<table width="95%" border="0" cellspacing="2"><tr>
		<td class="parents"><A target="_top" href="http://www.aviso.oceanobs.com/html/donnees/welcome_uk.html">Data</a><img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16"><a href="http://www.aviso.oceanobs.com/html/donnees/tools/welcome_uk.html">Tools &amp; services</a><img src="http://www.aviso.oceanobs.com/images/icones/parent.gif" width="17" height="16">
		<!-- Motu subtitles -->
			#aviso_uk_old_printSubTitle()
		</td>
		<td class="freres" align="right">
#*			
			<a href="http://www.aviso.oceanobs.com/html/donnees/tools/citations_uk.html">Citation</a>
	
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/data_format_uk.html">Data Format</a>
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/opendap_uk.html">Opendap &amp; LAS</a>
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/software_uk.html">Reading software</a>
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/handbooks_uk.html">User handbooks</a>
			<br>
			<a href="http://www.aviso.oceanobs.com/html/donnees/tools/cycles_passes_1_uk.html">Cycle/Date</a>
	
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/cycles_passes_2_uk.html">List passes</a>
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/jjtocd_uk.html">Calendar/Julian days</a>
			 | <a href="http://www.aviso.oceanobs.com/html/donnees/tools/poseidon_uk.html">Poseidon-1 cycles</a>
*#		
		<!-- other Aviso Services -->
		#aviso_uk_old_printOtherServices()
		</td>
	</tr></table>

	<P><IMG SRC="http://www.aviso.oceanobs.com/images/icones/barre.gif" WIDTH="100%" HEIGHT="1"></P>

<!-- Corps du document -->
	
	#set($tocLowLevel = 1)
	#set($tocHighLevel = 2)
	#set($tocAsRow = false)
	#set($printcatalogtoc = true)
	
	#parse ($body_template)


<!-- Pied de page -->
<p>&nbsp;</p>
<!-- STATUS: OK -->
<P>&nbsp;<BR CLEAR="all"></P>		
<P ALIGN="center">
<MAP NAME="pied_page">
					<AREA SHAPE="RECT" COORDS="479,0,533,18" HREF="javascript:changeLangue('fr');" title="Français">
					<AREA SHAPE="RECT" COORDS="479,25,533,43" HREF="javascript:changeLangue('es');" title="Español">
					<AREA SHAPE="RECT" COORDS="384, 0, 473, 40" HREF="javascript:ouvreCadre('http://search.jason.oceanobs.com/search_uk.html')">
					<AREA SHAPE="RECT" COORDS="320, -3, 382, 40" HREF="http://www.aviso.oceanobs.com/html/general/guide_uk.html">
					<AREA SHAPE="RECT" COORDS="229, 0, 318, 43" HREF="javascript:ouvreCadre('/html/general/sitemap_uk.html')">
					<AREA SHAPE="RECT" COORDS="144, 0, 227, 43" HREF="javascript:ouvreCadre('/html/general/glossaire/a_uk.html')">
					<AREA SHAPE="RECT" COORDS="61, 0, 143, 43" HREF="http://www.aviso.oceanobs.com/html/general/contacts_uk.html">
					<AREA SHAPE="RECT" COORDS="0, 0, 59, 43" HREF="http://www.aviso.oceanobs.com/html/mod_actu/public/welcome_uk.php3"></MAP>
<IMG SRC="http://www.aviso.oceanobs.com/images/icones/bas_page_2_uk.gif" WIDTH=531 HEIGHT=45 ALT="" BORDER="0"USEMAP="#pied_page">
<BR>
<SPAN CLASS="credits">All rights reserved, <A HREF="http://www.aviso.oceanobs.com/html/faq/droits_uk.html">copyright</A> &copy; 1997-2006
	<A HREF="http://www.cnes.fr" TARGET="_blank">CNES</A>, <A HREF="http://www.cls.fr" TARGET="_blank">CLS</A></SPAN></P>
<!-- End of the block 'corps' -->
		</DIV></TD></TR>
	<TR><TD VALIGN="bottom" ALIGN="center" BGCOLOR="#000099">
		<A HREF="#top"><IMG SRC="http://www.aviso.oceanobs.com/images/icones/haut_uk.gif" WIDTH=21 HEIGHT=49 ALT="top" BORDER="0"></A></TD></TR>
</TABLE>
</body>
</html>