##----------------------------------------------------------------------------------
## WARNING : Macro are prefixed by template file name because of the bug in Velocity when
## there are the same macro name in different Template. 
## In case several templates have a common macro name, 
## the result can be amazing (among others, execution mixes up the same macro with the same name)
##----------------------------------------------------------------------------------
## ------------------------------ generic_uk_printSubTitleCatalog --------------------------------
#macro(generic_uk_printSubTitleCatalog)
	Inventory
#end

## ------------------------------ generic_uk_printSubTitleProductMetadata --------------------------------
#macro(generic_uk_printSubTitleProductMetadata)
	#if ($product.isProductDownloadable()) 
		<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
		| Metadata
		| <a href="?action=productdownloadhome&service=${service.getName()}&product=${product.getProductMetaData().getProductId()}">Download</a>
	#else
		<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
		| Metadata
	#end
#end

## ------------------------------ generic_uk_printSubTitleProductDownloadHome --------------------------------
#macro(generic_uk_printSubTitleProductDownloadHome)
	<a href="?action=listcatalog&service=${service.getName()}">Inventory</a>
	| <a href="?action=listproductmetadata&service=${service.getName()}&product=${product.getProductMetaData().getProductId()}">Metadata</a>
	| Download
#end

## -------------------------------------------- generic_uk_printSubTitle --------------------------------
#macro(generic_uk_printSubTitle)
	<table width="95%" border="0" cellspacing="0"><tr>
	<td class="parents">		
	#if($body_template.equalsIgnoreCase($templateCatalog))
		#generic_uk_printSubTitleCatalog()	
	#end
	#if($body_template.equalsIgnoreCase($templateProductMetadata))
		#generic_uk_printSubTitleProductMetadata()	
	#end	
	#if($body_template.equalsIgnoreCase($templateProductDownloadHome))
		#generic_uk_printSubTitleProductDownloadHome()	
	#end	
	</td>
	</tr></table>
#end

## -------------------------------------------- main --------------------------------

#set($templateCatalog = "catalog_uk.vm")
#set($templateProductMetadata = "product_metadata_uk.vm")
#set($templateProductDownloadHome = "product_downloadhome_uk.vm")

<html>
<head>
	<title> Motu - Services </title> 
	<style>
		img.suiv2
		{
		width:18;
		height:14;
		alt="";
		border=0;
		}
	</style> 
	<script language="JavaScript">
	// Override this function if you want some actions after a page load
	function init() {}
	
	// Override this function if you want some action before submitting a form
	// Note that the onSubmit event isn't issued if form.submit() is called
	// programmatically. Sigh.
	function doSubmit() {}
	</script>
</head>
<BODY onLoad="init()">
<a name="top"></a> 	
			 
<!-- subtitles -->

	#generic_uk_printSubTitle()

<!-- Corps du document -->
	
	#set($tocLowLevel = 1)
	#set($tocHighLevel = 1)
	#set($printcatalogtoc = false)

	#parse ($body_template)


</body>
</html>