<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
		<param name="Target" value="System.Out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p &lt;%d{dd/MM/yyyy HH:mm:ss.SSS}&gt;, thrID: %t - %c.%M%n%m ]%n%n" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="XMLFileInfo">
		<param name="file" value="infoup.xml" />
		<!--
			<param name="encoding" value="UTF-8" />
		-->
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM" />
		<layout class="fr.cls.atoll.motu.library.log4j.MotuXMLLayout"></layout>

		<!--
			<layout class="fr.cls.atoll.motu.web.servlet.TestLogXML"></layout>
			<layout class="org.apache.log4j.xml.XMLLayout"/>
		-->
	</appender>

	<!--
		<logger name="fr.cls.atoll.motu"> <level value="DEBUG" />
		<appender-ref ref="CONSOLE" /> </logger>
	-->
	<logger name="fr.cls.atoll.motu.processor">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.deegree.services">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.apache.commons.vfs">
		<level value="TRACE" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<!--
		<logger name="atoll.motu.queueserver"> <level value="INFO" />
		<appender-ref ref="XMLFileInfo" /> </logger>
	-->
	<logger name="org.apache.commons.httpclient">
		<level value="fatal" />
	</logger>

	<logger name="httpclient.wire.header">
		<level value="fatal" />
	</logger>

	<logger name="httpclient.wire.content">
		<level value="fatal" />
	</logger>
	
	<root>
		<!-- 
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
 -->
	</root>
</log4j:configuration>
